parameters:
	ignoreErrors:
		-
			message: '#^Instanceof between App\\Models\\User and Illuminate\\Contracts\\Auth\\MustVerifyEmail will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: app/Livewire/Settings/Profile.php

		-
			message: '#^Parameter \#1 \$map of static method Illuminate\\Database\\Eloquent\\Relations\\Relation\<Illuminate\\Database\\Eloquent\\Model,Illuminate\\Database\\Eloquent\\Model,mixed\>\:\:morphMap\(\) expects array\<string, class\-string\<Illuminate\\Database\\Eloquent\\Model\>\>\|null, array\<string, string\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: app/Services/AuthService.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: app/Services/AuthService.php
